<form class="form" (ngSubmit)="solveChallenge()">
  <div class="buckets">
    <label>First bucket</label>
    <input type="number" min="1" max="10" name="firstBucket" id="firstBucket" [(ngModel)]="firstBucket" placeholder="Add first bucket capacity">
  </div>
  <div class="buckets">
    <label>Second bucket</label>
    <input type="number" min="1" max="10" name="secondBucket" id="secondBucket" [(ngModel)]="secondBucket" placeholder="Add second bucket capacity">
  </div>
  <div class="buckets">
    <label>Amount wanted</label>
    <input type="number" min="1" max="10" name="amountWanted" id="amountWanted" [(ngModel)]="amountWanted" placeholder="Add amount wanted">
  </div>
    <input type="submit" value="Solve">
</form>

