<form class="form">
  <div class="buckets">
    <label>First bucket</label>
    <input type="number" min="0" max="10" name="firstBucket" id="firstBucket" placeholder="Add first bucket capacity">
  </div>
  <div class="buckets">
    <label>Second bucket</label>
    <input type="number" min="0" max="10" name="secondBucket" id="secondBucket" placeholder="Add second bucket capacity">
  </div>
  <div class="buckets">
    <label>Third bucket</label>
    <input type="number" min="0" max="10" name="thirdBucket" id="thirdBucket" placeholder="Add third bucket capacity">
  </div>
  <div class="button">
    <input type="submit" value="Solve">
  </div>
</form>

