<table>
  <div class="table">
    <div class="columns">
      <th>First Bucket</th>
      <div *ngFor="let item of firstBucketSteps">
        <td >{{item}}</td>
      </div>
    </div>
    <div class="columns">
      <th>Second Bucket</th>
      <div *ngFor="let item of secondBucketSteps">
        <td >{{item}}</td>
      </div>
    </div>
    <div class="columns">
      <th>Explanation</th>
      <div *ngFor="let item of explanationSteps">
        <td >{{item}}</td>
      </div>
    </div>
  </div>
</table>
